body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: #1e1e1e !important;
}
a:hover {
    color: #6a6a6a !important;
}
.navbar {
    background:#ffffff;
    padding-left: 5%;
    padding-right: 5%;
}
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    color: #1e1e1e;
    font-weight: 800;
    float: left;
    height: 50px;
}
.navbar-nav {
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #1e1e1e;
    font-weight: 600;
}
.header {
	margin: 4em auto;
    padding-left: 15%;
    padding-right: 15%;
	position: relative;
}
.title {
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 20px;
}
.subtitle {
    font-weight: 400;
    color: #6a6a6a;
    padding-bottom: 40px;
}
.description {
    margin: 4em auto;
    padding-left: 15%;
    padding-right: 15%;
	position: relative;
}
h4 {
    font-weight: 600;
}